<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'wg/css/style.css' %}">
</head>
<body>
    <div class="container" align='center'>
        <div class="alert alert-info col-6" role="alert">
            <h1 class="alert-heading">Random Password Generator</h1>
            <h4>Words generated {{ attempts }}</h4>
            <hr class='my-4'>
            <h4 class="mb-0">{{ word }}</h4>
            <hr class=my-4>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href='/'>
                    <button type="button" class="btn btn-secondary">New Word</button>
                </a>
                <a href='/reset'>
                    <button type="button" class="btn btn-secondary">Reset</button>
                </a>
              </div>
        </div>
    </div>
</body>
</html>